
<%= render "home/navbar" %>
<%= render "home/leftsidebar" %>
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<% if flash[:alert] %>
		<div class="alert"><%= flash[:alert] %></div>
	<% end %>
	<div class="main-content">
		<div class="container-fluid">
			<h3 class="page-title"></h3>
			<div class="row">
				<!-- BASIC TABLE -->
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Employee deatils</h3>
						<ul class="nav navbar-nav navbar-right">
							<%= link_to new_employee_path, class: "btn btn-primary" do %>
								<i class="fa fa-user-plus"></i> Add User
							<% end %>
						</ul>
					</div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>Id</th>
									<th>Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Salary</th>
									<th>Joining_date</th>
									<th>Date_of_birth</th>
									<th>Role</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<% @employee.each do |employee| %>
									<tr>
										<td><%= employee.id %></td>
										<td><%= employee.name %></td>
										<td><%= employee.email %></td>
										<td><%= employee.phone %></td>
										<td><%= employee.salary %></td>
										<td><%= employee.joining_date %></td>
										<td><%= employee.date_of_birth%></td>
										<td><%= button_to 'Change role', change_role_path(id: employee.id), method: :post %></td>
										<td><%= link_to edit_employee_path(employee.id) do %><i class='fa fa-pencil-square-o'></i><% end %>    <%= button_to  employee_path(employee), method: :delete do %><i class='fa fa-trash'></i></td><% end %>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<!-- END BASIC TABLE -->
				<%= paginate @employee %>
			</div>
		</div>
	</div>
<!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<div class="clearfix"></div>
	<footer>
		<div class="container-fluid">
			<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
		</div>
	</footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<%= javascript_include_tag 'jquery/jquery.min' %>
<%= javascript_include_tag 'bootstrap/js/bootstrap.min' %>
<%= javascript_include_tag 'jquery-slimscroll/jquery.slimscroll.min' %>
<%= javascript_include_tag 'scripts/klorofil-common' %>














